body {
    width: 100%;
    height: 100%;
    margin: 0;
}

ul {
    padding: 0px!important;
}

.menu-principal {
    width: 100%;
    background-color: #252323;
    height: 60px;
}

main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo {
    float: left;
    padding: 16px;
    width: 70%;
}

.rede-sociais ul li {
    margin-left: 30px;
    display: inline-block;
    float: left;
}

.rede-sociais {
    width: 25%;
    float: left;
}
.header-2 {
    background-color: white;
    width: 980px;
    margin: 0 auto;
    padding: 15px;
}

.menu-urls {
    height: 80px;
    border-bottom: 3px solid #efefef;
}

.menu ul li{
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 50px;
}

.menu ul li:hover{
    border-bottom: solid 3px #00bac6;
}

.menu ul li a:hover {
    color: #00bac6;
}

.menu ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.menu {
    width: 65%;
    float: left;
}

.busca {
    text-align: center;
    width: 30%;
    padding-right: 5px;
    float: right;
}

.busca input {
    background-image: url('../img/icone-search.png');
    background-repeat: no-repeat;
    background-position: 95%;
    height: 30px;
    width: 190px;
    padding-left: 5px;
    margin-top: 10px;
    border: 2px solid #d6d6d6;
}

.col-100 {
    width: 100%;
    float: left;
    position: relative;
}